.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/main/Background.jpg') no-repeat 65%/cover;
    padding-top: 206px;
    br {
        display: none;
    }
    &__title {
        width: 670px;
        padding-top: 9px;
    }
    &__btns {
        margin-top: 34px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;
    }
    &__link {
        color: #fff;
        text-decoration: none;
        font-weight: 700;
        &:hover {
            color: #fff;
        }
    }
    .title_white {
        padding-left: 10px;
        z-index: 2;
        position: relative;
        @include before_circle;
    }
}
