.resume {
    padding-top: 120px;
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
        padding:60px 65px 0 65px;
        justify-content: center;
    }
    &__column {
        ul {
            list-style-type: none;
            li {
                position: relative;
                &::after {
                    content: '';
                    width: 1px;
                    height: calc(100% + 16px);
                    position: absolute;
                    top: -16px;
                    left: -32px;
                    background-color: #000;
                }
            }
        }
    }
    &__column-title {
        padding-left: 35px;
        position: relative;
        &::before {
            content: '';
            width: 15px;
            height: 15px;
            background: $main-color;
            position: absolute;
            border-radius: 100%;
            left: -7px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__item {
        position: relative;
        &::before { 
            content: '';
            height: 1px;
            width: 44px;
            position: absolute;
            background-color: #000;
            top: 68px;
            left: -32px;
        }
    }
    &__item-head {
        position: relative;
        padding: 45px 0 0 68px;
        h4 {
            margin-bottom: 0;
        }
    }
    &__item-icon {
        position: absolute;
        @include before_circle;
        top: 50px;
        left: 11px;
        img {
            position: absolute;
            left: 17px;
            top: 14px;
        }
    }
    &__item-body {
        padding-left: 11px;
        margin-top: 12px;
        font-size: 12px;
        line-height: 18px;
    }
    &__item-location {
        font-size: 12px;
        line-height: 18px;
    }
    // &__body {
    //     font-size: 12px;
    //     line-height: 18px;
    // }
}